.footer-container {
  height: 50px;
  width: 100%;
  -webkit-box-shadow: 0px -11px 21px -9px #dbdbdb;
  box-shadow: 0px -11px 21px -9px #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  background-color: white;
}
